#container{
  display: grid;
  grid-template-columns: 1;
  background-color: burlywood;
}
#sectionHeader{
  height: 170px;
  background-color: aqua;
}
#heading{
  display: inline-block;
  height: 50px;
  margin-top: 55px;
  margin-left: 30px;
}
#social{
  display: inline-block;
  float: right;
  margin-top: 65px;
  margin-right: 30px;
}
#delicious{
  display: block;
  font-size: 42px;
  font-family: 'Pacifico', cursive;
  font-style: italic;
  margin-left: 5px;
  margin-bottom: 2px;
}
#bestFood{
  display: block;
  font-family: 'Abel', sans-serif;
  margin-left: 15px;
}
#headingText{
  display: inline-block;
}
#heading img{
  height: 50px;
  width: 50px;
}
#greyBar{
  height: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;

  /* source: https://css-tricks.com/stripes-css/ */
  background: repeating-linear-gradient(
  45deg,
  grey,
  grey 10px,
  white 20px,
  black 10px
);
}
#heroPictureHeader{
  /* display: inline-block; */
}
#heroHeaderHeader{
  display: inline-block;
  /* float: left; */
  margin-top: 30px;
  margin-left: 30px;
  /* width: 100%; */
}
#heroHeaderHeader h1{
  display: inline-block;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}
#heroHeaderHeader p{
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: #DBCEB5;
  /* display: inline-block; */
}
#printIcon{
  /* display: inline-block; */
  float: right;
  margin-right: 30px;
  margin-top: 60px;
  /* margin-bottom: 50px; */
}
#printIcon img{
  display: inline;

}
#printIcon p{
  display: inline;
  margin-right: 30px;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  color: #DBCEB5;
}
#heroPicture{
  /* margin: auto; */
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
}
#heroPicture img{
  width: 100%;
}
#heroParagraph{

}